@layer components{
    .comment_wrapper{
        @apply w-full;
    }

    .comment_form_wrapper{
        @apply w-full mb-[60px];
    }

    .comment_form{
        @apply w-full flex flex-col gap-[10px];

        h3{
            font-size: 1.8rem;
            font-family: var(--font-primary-regular);
        }

        .comment_rating{
            @apply flex;
        }

        textarea{
            @apply w-full max-w-[50%] min-h-[100px];
            resize: none;
            outline: none;
            border: 1px solid transparent;

            &:focus{
                border: 1px solid var(--cl-primary);
            }
        }
    }

    .comment_content{
        @apply w-full flex px-[15px] py-[26px] gap-[15px];
        border: 1px solid var(--bg-gray);
    }

    .comment{
        @apply flex flex-col bg-[var(--bg-secondary)] p-[10px] w-1/2 text-center;
        font-family: var(--font-primary-regular);
        border-radius: var(--border-radius-image);
        h3{
            font-size: 1.6rem;
            color: var(--cl-primary);
        }
        p{
            @apply mt-[10px];
            font-size: 1.4rem;
        }

        span{
            font-size: 1rem;
        }
    }
}