@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "../styles/app/main.css";
@import "../styles/components/NavigationBar.css";
@import '../styles/components/Product.css';
@import "../styles/components/Card.css";
@import "../styles/components/Footer.css";
@import "../styles/components/CartNotification.css";
@import "../styles/components/CartMini.css";
@import "../styles//app/account.css";
@import "../styles/app/cart.css";
@import "../styles/app/detail.css";
@import "../styles/components/Comment.css";
@import "../styles/components/features/Rating.css";
@import "../styles/app/checkouts.css";
@import "../styles/app/categories.css";

:root {
  --font-primary-light: NunitoSans-light;
  --font-primary-regular: NunitoSans-regular;
  --bg-cyan-light: #ecf0f4;
  --bg-gray-light: #f4f4f4;
  --bg-gray: rgb(179, 179, 179);
  --bg-gray-bold: rgba(0, 0, 0, 0.07);
  --bg-primary: #f4f3ec;
  --bg-secondary: white;
  --bg-tertiary: black;
  --cl-primary: #e3563d;
  --cl-secondary: #333;
  --bg-danger: rgb(255, 43, 43);
  --bg-success: rgb(121, 255, 128);
  --txt-primary: white;
  --txt-secondary: #333333;
  --txt-gray: #54667a;
  --border-radius-card: 18px;
  --border-radius-btn: 50px;
  --border-radius-input: 70px;
  --border-radius-image: 18px;
}

* {
  box-sizing: border-box;
}

html {
  @apply lg:text-[62.5%] md:text-[62.5%] text-[50%];
  scroll-behavior: smooth !important;
  /* overflow: hidden; */
}

/* fonts */
@font-face {
  font-family: NunitoSans-regular;
  src: url('/fonts/NunitoSans-Regular.ttf');
}

@font-face {
  font-family: NunitoSans-light;
  src: url('/fonts/NunitoSans-Light.ttf');
}

.wrapper{
  @apply mt-[80px] bg-[var(--bg-primary)];
}

.section.center{
  @apply flex justify-center;
}

.section.both{
  @apply mx-[36px];
}

.section.left{
  @apply ml-[36px];
}

.section.right{
  @apply mr-[36px];
}

.empathize{
  color: var(--cl-primary);
}

.filter-navbar{
  @apply flex gap-[10px] flex-wrap items-center;
  button{
    text-transform: uppercase;
  }
}

.overlay{
  @apply h-[100vh] w-full fixed top-0 left-0 hidden;
  background: rgba(0, 0, 0, .7);
  z-index: 4;
  user-select: none;

  &.active{
    @apply block;
  }
}

.loading_wrapper{
  @apply fixed top-0 left-0 w-full h-[100vh] hidden;
  background-color: var(--bg-secondary);
  z-index: 5;
  user-select: none;
  overflow: hidden;

  &.active{
    @apply flex items-center justify-center;
  }

  .loading{
    @apply w-[100px] h-[100px];
    img{
      user-select: none;
      -webkit-user-drag: none;
    }
    
  }
}

/* buttons */
.btn-primary{
  @apply bg-[var(--cl-primary)] text-[var(--txt-primary)];
  border-radius: var(--border-radius-btn);
  border: 1px solid transparent;
  transition: all ease-in-out 0.25s;

  &:hover{
    @apply bg-transparent;
    color: var(--txt-secondary);
    border: 1px solid var(--cl-primary);
  }
}

.btn-secondary{
  @apply bg-transparent;
  color: var(--txt-secondary);
  border: 1px solid var(--txt-secondary);
  border-radius: var(--border-radius-btn);
  transition: all ease-in-out 0.25s;

  &.interact:hover{
    @apply bg-[var(--cl-primary)] text-[var(--txt-primary)];
    border: 1px solid transparent;
  }
}

.btn-tertiary{
  @apply bg-[var(--bg-primary)] text-[var(--txt-secondary)];
  border-radius: var(--border-radius-btn);
  transition: all ease-in-out 0.25s;

  &:hover{
    @apply bg-[var(--txt-secondary)] text-[var(--txt-primary)];
  }
}

.btn-success{
  @apply bg-[var(--bg-success)] text-[var(--txt-secondary)];
  border-radius: var(--border-radius-btn);
  transition: all ease-in-out 0.25s;

  &:hover {
    @apply bg-[var(--txt-secondary)] text-[var(--txt-primary)];
  }
}

.btn-sz-small{
  @apply py-[8px] px-[15px];
  font-size: 1.2rem;
}

.btn-sz-xsmall{
  @apply py-[12px] px-[10px];
  font-size: 1.4rem;
}

.btn-sz-medium{
  @apply py-[7px] pr-[25px] pl-[10px];
}

.btn-sz-xmedium {
  @apply px-[30px] py-[12px];
  font-size: 1.4rem;

  svg{
    font-size: 1.5rem;
  }
}



.btn-st-bold{
  border: 2px solid var(--txt-secondary);
  font-family: var(--font-primary-regular);
  font-weight: bolder ;
  font-size: 1.4rem;
  pointer-events: fill;
}

.btn-st-icon{
  @apply flex items-center justify-center gap-[8px];
}

.btn-st-square{
  border-radius: 8px;
}

.btn-type-select{
  appearance: none;
  background: url("/images/arrow.svg") no-repeat;
  background-size: 9px;
  background-position: calc(100% - 10px) 50%;
}

.btn-type-icon{
  @apply flex justify-center items-center w-[45px] h-[45px] bg-[var(--cl-primary)];
  border-radius: 50%;
  color: var(--txt-primary);
  border: 1px solid transparent;
  transition: all ease-in-out 0.25s;

  svg{
    font-size: 1.8rem;
  }

  &:hover{
    border: 1px solid var(--cl-primary);
    background-color: transparent;
    color: var(--cl-secondary);
  }
}

.btn-type-optimize{
  border: none;
  font-family: var(--font-primary-regular);
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--cl-primary);
}

.btn-type-icon-only{
  transition: all ease-in-out 0.25s;

  svg{
    font-size: 2.4rem;
  }

  &:hover{
    color: var(--cl-primary);
  }
}

.btn-type-link{
  font-size: 1.4rem;
  color: var(--txt-primary);
  text-decoration: underline;
}

.btn-type-link-icon{
  @apply flex items-center gap-[10px];
    font-size: 1.3rem;
  
    svg {
      font-size: 3.4rem;
      padding: 5px;
      border: 1px solid var(--txt-secondary);
      border-radius: 50%;
    }
}

/* customs */
.col-px-10{
  @apply px-[10px]; 
}

.col-px-15{
  @apply px-[15px];
}
