@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
}

* {
  box-sizing: border-box;
}

html {
  @apply lg:text-[62.5%] md:text-[62.5%] text-[50%];
}

/* fonts */
@font-face {
  font-family: "";
  src: url();
}
